---
# Example Docker Compose file for a Docker registry with a web UI

services:
  registry:
    image: registry:3.0.0
    environment:
      REGISTRY_HTTP_RELATIVEURLS: "true"
      REGISTRY_STORAGE_DELETE_ENABLED: "true"
      REGISTRY_LOG_LEVEL: "warn"
      REGISTRY_LOG_ACCESSLOG_DISABLED: "true"
    volumes:
      - ./.data/registry:/var/lib/registry

  frontend:
    image: byrdal/registry-ui:latest
    environment:
      REGISTRY_URL: http://registry:5000
    ports:
      - "3000:3000"
